fastapi
uvicorn[standard]
anthropic
mcp
toml
openai
httpx
aiohttp
aiosqlite
requests
Pillow
numpy
nanoid
python-multipart
aiofiles
certifi
rich # needed for comfyui execution
typer # needed for comfyui execution
langgraph==1.2.5
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
langgraph-swarm==0.1.0
langchain==1.3.9
langchain-ollama==1.0.1
langchain-openai==1.3.2
python-socketio==5.13.0
pymediainfo
socksio # For vpn from command line like export https_proxy=http://127.0.0.1:7897 http_proxy=http://127.0.0.1:7897 all_proxy=socks5://127.0.0.1:7897
